.font {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}

mat-spinner {
    left: calc(50% - 30px);
    position: absolute !important;
}

::ng-deep {
  .mat-mdc-text-field-wrapper {
    background-color: white !important;
  }

  .mdc-notched-outline__leading, .mdc-notched-outline__trailing {
    border-color: #d7d7d7 !important;
  }

  .mat-mdc-select-panel {
    background-color: white !important;
  }
}

mat-select {
  background-color: white;
}

@keyframes slide-in {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}